$tamanoletraHTML: 62.5%;
$tamanoImagenPortada: 100%;
$th2:3.4rem;
$th3:3rem;
$th4:2.6rem;
$colordebotonamarillo: #FFC107;
$colordebarranavegacion:#ffffffe3;
$colorletraprecio: #00796b;
$tipodeletrabody: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;