body {
    margin: 0;
}

nav {
    background-color: rgba(43, 107, 109, 0.801);
    font-size: 25px;
    font-family: sans-serif;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-nav {
    font-size: 25px;
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none
}


/*Centrar imagen*/

img {
    width: 70%;
    height: 35rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    /*
    position: absolute;
    left: 15%;
    width: 70%;
    height: 30rem;
    display: block;
    margin: auto;*/
}


/*Texto centrar portada*/

.texto-encima {
    font-size: 40px;
    color: chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.centrado {
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}