@import 'variables';
html {
    font-size: $fnt;
}

body {
    font-family: $fnt-type;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
}

img {
    max-width: $img-size;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 100;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block!important;
}


/**botones**/

.btn {
    background: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    display: inline-block;
}

.btn-card-color {
    background: $btn-c;
}


/*Header*/

.site-header {
    background-color: rgb(38, 58, 58);
    padding: 1rem 0 3rem 0;
    h1 {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11rem;
    }
    h2 {
        color: white;
        padding-bottom: 2rem;
        max-width: 50rem;
        line-height: 1.8rem;
    }
}

.site-header.home {
    background: url(../images/31173.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60 rem;
}

.contents-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    display: inline-grid;
    justify-content: end;
    align-items: center;
    padding-top: 1rem;
}


/**Navegacion**/

.navegation {
    a {
        color: $primary-color-b;
        text-decoration: none;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
}


/**ICONO NOSOTROS**/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.icono {
    h3 {
        text-transform: uppercase;
    }
}


/**CARDS**/

.container-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border-style: solid;
    border-color: burlywood;
    border-width: 1px;
    background: rgb(231, 231, 226);
    margin-bottom: 2rem;
}

.contents-card {
    padding: 2rem;
}

.contents-card {
    h3 {
        margin: 0;
    }
}

.precio {
    color: $primary-color-c;
    font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
    /* CSS */
    .site-header.home {
        background: url(../images/31173.jpg);
        background-position: center center;
        background-size: cover;
        height: 50vh;
        min-height: 60 rem;
    }
    .site-header {
        background-color: rgb(38, 58, 58);
        padding: 1rem 0 3rem 0;
        h1 {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;
        }
        h2 {
            color: white;
            padding-bottom: 2rem;
            padding-left: 6rem;
            max-width: 50rem;
            line-height: 1.8rem;
            font-size: 2rem;
        }
    }
    nav {
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bar {
        display: inline-grid;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
    .site-header {
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .iconos-nosotros {
        display: flex;
        flex-direction: column;
    }
    .icono {
        flex-basis: calc(33.3% - 1rem);
        text-align: center;
    }
    .card {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        border-style: solid;
        border-color: burlywood;
        border-width: 1px;
        background: rgb(231, 231, 226);
        margin-bottom: 2rem;
        text-align: center;
    }
    .container-card {
        display: flex;
        flex-direction: column
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */